/***************
 * mate-panel *
 ***************/

/* first make all transparent */
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    
}

#PanelPlug,
PanelToplevel > * {
border-color: transparent;
}
/* let's start it */
#PanelPlug,
.mate-panel-menu-bar,
PanelToplevel.background,
PanelToplevel > *:not(menu):not(menuitem):not(button):not(menubar) { 
    background-color: #eaeaea;
        background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
}

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
.mate-panel-menu-bar {
background-image: none;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .csd.popup decoration {
}


/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
}



PanelSeparator {
    border-width: 0;
    background-image: none;
    background-color:black;
    text-shadow: none;
    padding:0px;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button,
.mate-panel-menu-bar #PanelApplet button.flat,
.mate-panel-menu-bar #PanelApplet button.toggle,
.mate-panel-menu-bar #PanelApplet button.flat.toggle {
	border-radius: 6px;
    background-color:#dbdbdb;
    border-width: 4px;
    border-color: #eaeaea;
    box-shadow:  inset 0 -1px black,inset 0 1px black,inset -1px 0 black,inset 1px 0 black;


}

.mate-panel-menu-bar #PanelApplet button:checked,
.mate-panel-menu-bar #PanelApplet button:checked:hover,
.mate-panel-menu-bar #PanelApplet button:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat:checked,
.mate-panel-menu-bar #PanelApplet button.flat:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover:active,
.mate-panel-menu-bar #PanelApplet button.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover:active {
    border-width: 6px;
    border-color:  #eaeaea;
    border-width: 4px;
    box-shadow:  inset 0 -1px black,inset 0 1px black,inset -1px 0 black,inset 1px 0 black;
    background-color: #fff;

}

.mate-panel-menu-bar #PanelApplet button:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover {
     border-width: 6px;
         border-width: 4px;
    border-color:  #eaeaea;
    box-shadow:  inset 0 -1px black,inset 0 1px black,inset -1px 0 black,inset 1px 0 black;
    background-color: #fafafa;

}



na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    /*background-color: @theme_bg_color;*/
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
}

.mate-panel-applet-slider .frame .frame{
    background-color:transparent;
    border-style: none;
}

.mate-panel-applet-slider .frame .button {
   /* color: @theme_fg_color;*/
}



